* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: rgb(23, 32, 110);
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}



@media (max-width: 768px) {
    body {
        max-width: 700px;
        width: 768px;
        padding: 2rem;
        background-color: rgb(23, 32, 110);
        color: whitesmoke;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
    }

    form {
        width: 750px;
    }

    input {
        max-width: 65% ;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 10px;
    }

    button {
        max-width: 25% ;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
    }


}

@media (max-width: 480px) {
    body {
        max-width: 400px;
        width: 480px;
        padding: 1rem;
        background-color: rgb(23, 32, 110);
        color: whitesmoke;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        gap: 2rem;
        font-size: 2rem;

    }

    h1 {
        font-size: 2rem;
    }

    form {
        width: 450px;
    }

    input {
        max-width: 65% ;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
    }

    button {
        max-width: 25% ;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
    }
}   
